.signup-container {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 400px;
    margin: 7% auto;
    padding: 80px 20px;
    text-align: center;
    color: white;
    background-color: rgba(30,30,30, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}


.btn {
  padding: 10px 34px;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  margin-right: 10px;
}

.btn-next {
  background-color: #ccc;
  color: white;
}

.btn-next:disabled {
  background-color: #ccc;
}

.btn-back {
  background-color: #6c757d;
  color: white;
}

.btn-submit {
  background-color: #28a745;
  color: white;
}

.btn-submit:disabled {
  background-color: #ccc;
}

