<div class="route-form-container">
  <form (submit)="submitRouteData($event)">
    <div class="form-group">
      <input
        type="text"
        id="startAddress"
        #startAddress
        placeholder="Pickup"
        class="form-control"
        (input)="onStartAddressInput($event)"
        [matAutocomplete]="startAuto"
      >
      <mat-autocomplete #startAuto="matAutocomplete">
        <mat-option *ngFor="let address of startAddressOptions" [value]="address" (onSelectionChange)="onStartAddressSelect(address)">
          {{ address }}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="form-group">
      <input
        type="text"
        id="destinationAddress"
        #destinationAddress
        placeholder="Destination"
        class="form-control"
        (input)="onDestinationAddressInput($event)"
        [matAutocomplete]="destinationAuto"
      >
      <mat-autocomplete #destinationAuto="matAutocomplete">
        <mat-option *ngFor="let address of destinationAddressOptions" [value]="address" (onSelectionChange)="onDestinationAddressSelect(address)">
          {{ address }}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="stops-container">
      <h3>Stops</h3>
      <div *ngFor="let stop of stops; let i = index" class="form-group">
        <input
          type="text"
          [id]="'stopAddress' + i"
          placeholder="Stop address"
          class="form-control"
          (input)="onStopAddressInput($event, i)"
          [matAutocomplete]="stopAuto"
        >
        <mat-autocomplete #stopAuto="matAutocomplete">
          <mat-option *ngFor="let address of stopAddressOptions[i]" [value]="address" (onSelectionChange)="onStopAddressSelect(address, i)">
            {{ address }}
          </mat-option>
        </mat-autocomplete>
        <button (click)="removeStop(i)" class="btn btn-danger">Remove</button>
      </div>
      <button (click)="addStop()" class="btn btn-secondary">Add Stop</button>
    </div>

    <button *ngIf="userRole!==''" type="submit" class="btn btn-primary">Request</button>
  </form>
</div>
