<div class="route-form-container">
  <form (submit)="submitRouteData($event)">
    <div class="form-group">
      <input
        type="text"
        id="startAddress"
        #startAddressInput
        placeholder="Pickup"
        class="form-control"
        (input)="onStartAddressInput($event)"
        [matAutocomplete]="startAuto"
        [value]="startAddressValue"
      />
      <mat-autocomplete #startAuto="matAutocomplete" (optionSelected)="onStartAddressSelect($event.option.value)">
        <mat-option
          *ngFor="let addressLoc of startAddressOptions"
          [value]="addressLoc"
        >
          {{ addressLoc.address }}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="form-group">
      <input
        type="text"
        id="destinationAddress"
        #destinationAddressInput
        placeholder="Destination"
        class="form-control"
        (input)="onDestinationAddressInput($event)"
        [matAutocomplete]="destinationAuto"
        [value]="destinationAddressValue"
      />
      <mat-autocomplete #destinationAuto="matAutocomplete" (optionSelected)="onDestinationAddressSelect($event.option.value)">
        <mat-option
          *ngFor="let addressLoc of destinationAddressOptions"
          [value]="addressLoc"
        >
          {{ addressLoc.address }}
        </mat-option>
      </mat-autocomplete>
    </div>

    <app-stops-form
      [stops]="stops"
      [stopAddressOptions]="stopAddressOptions"
      (stopsChanged)="onStopsChanged($event)"
      (stopAddressSelected)="onStopAddressSelected($event)"
      (stopAddressInputted)="onStopAddressInputted($event)"
    ></app-stops-form>


    <button type="submit" class="btn btn-primary">
      {{ userRole !== 'REGISTERED_USER' ? 'Show Route' : 'Request' }}
    </button>
  </form>
</div>
