.route-form-container {
  flex-direction: column;
  position: relative;
  margin: 8% auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 93%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 25px;
  margin-top: 10px;
  font-size: 12px;
}

.form-control {
  width: 80%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn {
  display: inline-block;
  padding: 10px 34px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-primary {
  background-color: #28a745;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: darkgreen;
}

.btn-primary:disabled {
  background-color: #ccc;
}

.error {
  color: #B80C09;
  margin-top: 5px;
}

.link-text {
  color: white;
  cursor: pointer;
}

.error-message {
  color: #B80C09;
  text-align: center;
  margin-top: 10px;
}

mat-autocomplete {
  width: 93%;
  margin-top: 5px;
}

mat-option {
  font-size: 14px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 4px;
}

mat-option:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

mat-option.mat-selected {
  background-color: #ddd;
}

mat-option:active {
  background-color: #ccc;
}

.choose-class {
  margin-top: 80px;
  margin-bottom: 45px;
}

.price {
  font-weight: bold;
  font-size: 16px;
}
