<div class="stops-container">
  <h3>Stops</h3>
  <div *ngFor="let stop of stops; let i = index" class="form-group">
    <input
      type="text"
      [id]="'stopAddress' + i"
      placeholder="Stop address"
      class="form-control"
      (input)="onStopAddressInput($event, i)"
      [matAutocomplete]="stopAuto"
      [value]="stops[i]" >
    <mat-autocomplete #stopAuto="matAutocomplete" (optionSelected)="onStopAddressSelect($event.option.value, i)">
      <mat-option
        *ngFor="let addressLoc of stopAddressOptions[i]"
        [value]="addressLoc" >
        {{ addressLoc.address }}
      </mat-option>
    </mat-autocomplete>
    <button (click)="removeStop(i)" class="btn btn-danger">Remove</button>
  </div>
  <button (click)="addStop()" class="btn btn-secondary">Add Stop</button>
</div>
