.split-fare-container {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.input-container {
  display: flex;
  margin-bottom: 10px;
}

.input-container input[type="email"] {
  flex-grow: 1;
  padding: 8px;
  margin-right: 10px;

  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 12px;
}

.input-container button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.passenger-list {
  list-style-type: none;
  padding: 0;
}

.passenger-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.passenger-list li:last-child {
  border-bottom: none;
}

.passenger-list li button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.confirm-btn{
  display: inline-block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;

  background-color: #28a745;
  color: white;
  padding: 10px 30px;
}
