<div class="split-fare-container">
  <h4>Add Passengers for Split Fare</h4>

  <div class="input-container">
    <input type="email" [(ngModel)]="newPassengerEmail" placeholder="Enter passenger email">
    <button (click)="addPassenger()">Add</button>
  </div>

  <div *ngIf="passengerEmails.length > 0">
    <div class="passenger-list-wrapper">
      <ul class="passenger-list">
        <li *ngFor="let email of passengerEmails">
          <span>{{ email }}</span>
          <button (click)="removePassenger(email)">Remove</button>
        </li>
      </ul>
    </div>
<!--    <button (click)="emitPassengers()" class="confirm-btn">Send Payment Request</button>-->
  </div>

</div>
