.information-container {
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(30, 30, 30, 0.1);
  backdrop-filter: blur(10px);
  height: 20vh;
  margin-right: 20px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info-item i {
  margin-right: 10px;
  color: #007bff;
}
