<div *ngIf="!userRole || userRole === ''" [ngClass]="{'sidenav': true, 'sidenav-green': isSearchActive}">
  <a routerLink="">Home</a>
  <a routerLink="/ride-preview">Ride</a>
  <a routerLink="/login">Login</a>
</div>


<div *ngIf="userRole === 'REGISTERED_USER'" class="sidenav">
  <a routerLink="/profile">Profile</a>
  <a routerLink="/order-ride">Order ride</a>
  <a routerLink="/ride-history">Ride history</a>
  <a (click)="openChatWindow()">Support</a>
  <a href="#" (click)="logout()">Logout</a>
</div>


<div *ngIf="userRole === 'ADMINISTRATOR'" class="sidenav">
  <a routerLink="/profile">Profile</a>
  <a routerLink="/create-driver">Create driver</a>
  <a routerLink="/block-users">Block users</a>
  <a routerLink="/ride-history-all">Ride history</a>
  <a routerLink="/admin-chat">
    Admin Chat
    <span class="notification-badge" *ngIf="unreadAdminMessageCount > 0">{{ unreadAdminMessageCount }}</span>
  </a>
  <a href="#" (click)="logout()">Logout</a>
</div>


<div *ngIf="userRole === 'DRIVER'" class="sidenav">
  <a routerLink="/profile">Profile</a>
  <a routerLink="/track-ride">Track Ride</a>
  <a routerLink="/notifications">Notifications</a>
  <a routerLink="/ride-history-driver">Ride history</a>
  <a href="#" (click)="logout()">Logout</a>

</div>
