.left{
  width: 8%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.right {
  width: 93%;
  margin-left: 8%;
  box-sizing: border-box;
  background-color: white;
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 0;
  height: 100%;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  position: absolute;
  object-fit: fill;
  /*transform: translate(-25%, -25%);*/
  transform: translate(-30%, -34%);
  /*transform: translate(-10%, -10%);*/
}

