<div class="left">
  <app-navbar></app-navbar>
</div>

<div class="right">
  <router-outlet></router-outlet>

  <div class="video-background" *ngIf="showVideo">
    <video autoplay loop playsinline>
      <source src="assets/video/vacay.mov" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>

<div *ngIf="showChatWindow" class="floating-chat-container">
  <app-chat [chatSessionId]="currentChatSessionId"></app-chat>
  <button class="close-chat-button" (click)="closeChat()">X</button>
</div>

