<div class="ride-container">
    <div class="ride-left">
        <app-route-form (routeDataSubmitted)="handleRouteData($event)"></app-route-form>

        <app-advanced-route-form
          *ngIf="userRole === 'REGISTERED_USER'"
          (routePreferencesSubmitted)="handleAdvancedRoutePreferences($event)">
        </app-advanced-route-form>

    </div>


    <div class="ride-right">

        <div class="driver-part">

        </div>

        <div class="map">
            <app-map></app-map>
        </div>

    </div>
</div>
