<div class="chat-container">
  <div class="messages-list">
    <div *ngFor="let message of messages"
         [ngClass]="{'message-item': true, 'my-message': message.senderId === currentUserId, 'other-message': message.senderId !== currentUserId}">
      <strong>{{ message.senderEmail }}</strong> ({{ message.timestamp | date:'shortTime' }}):
      {{ message.messageContent }}
    </div>
  </div>
  <div class="input-area">
    <input type="text" [(ngModel)]="newMessage" placeholder="Napišite poruku..." (keyup.enter)="sendMessage()">
    <button (click)="sendMessage()">Pošalji</button>
  </div>
</div>
