<div class="route-form-container">
  <h2>Prikazi putanje</h2>

  <form (submit)="submitRouteData($event)">
  <div class="form-group">
      <input
        type="text"
        id="startAddress"
        #startAddress
        placeholder="Unesite polazište"
        class="form-control"
        (input)="onStartAddressInput($event)"
        [matAutocomplete]="startAuto"
      >
      <mat-autocomplete #startAuto="matAutocomplete">
        <mat-option *ngFor="let address of startAddressOptions" [value]="address" (onSelectionChange)="onAddressSelect(address)">
          {{ address }}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="form-group">
      <input
        type="text"
        id="destinationAddress"
        #destinationAddress
        placeholder="Unesite destinaciju"
        class="form-control"
        (input)="onDestinationAddressInput($event)"
        [matAutocomplete]="destinationAuto"
      >
      <mat-autocomplete #destinationAuto="matAutocomplete">
        <mat-option *ngFor="let address of destinationAddressOptions" [value]="address" (onSelectionChange)="onAddressSelect(address)">
          {{ address }}
        </mat-option>
      </mat-autocomplete>
    </div>

    <button type="submit" class="btn btn-primary">Prikazi putanje</button>
  </form>
</div>
