<div class="route-form-container">
  <h2>Route Details</h2>

  <form (submit)="submitRouteData($event)">
    <div class="form-group">
      <input
        type="text"
        id="startAddress"
        #startAddress
        placeholder="Pickup"
        class="form-control"
        (input)="onStartAddressInput($event)"
        [matAutocomplete]="startAuto"
      >
      <mat-autocomplete #startAuto="matAutocomplete">
        <mat-option *ngFor="let address of startAddressOptions" [value]="address" (onSelectionChange)="onStartAddressSelect(address)">
          {{ address }}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="form-group">
      <input
        type="text"
        id="destinationAddress"
        #destinationAddress
        placeholder="Destination"
        class="form-control"
        (input)="onDestinationAddressInput($event)"
        [matAutocomplete]="destinationAuto"
      >
      <mat-autocomplete #destinationAuto="matAutocomplete">
        <mat-option *ngFor="let address of destinationAddressOptions" [value]="address" (onSelectionChange)="onDestinationAddressSelect(address)">
          {{ address }}
        </mat-option>
      </mat-autocomplete>
    </div>

    <div class="choose-class">
      <h2>Choose Class</h2>
      <div class="class-option" (click)="selectClass('Business')">
        Luxury <span class="price">$30</span>
      </div>
      <div class="class-option" (click)="selectClass('Standard')">
        Standard <span class="price">$22</span>
      </div>
      <div class="class-option" (click)="selectClass('Premium')">
        Van <span class="price">$15</span>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Request</button>
  </form>

</div>
