<div class="drivers-container">
  <h2>Drivers</h2>
  <div class="header">
    <div class="status-tabs">
      <div class="tab active">Available</div>
      <div class="tab">On Way</div>
      <div class="tab">All</div>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Find driver">
    </div>
  </div>
  <div class="driver-list">
    <div class="driver-item">
      <div class="driver-info">
        <div class="driver-image">
          <img src="assets/pics/nina.jpg" alt="Johnnie Walker">
          <div class="status-circle green"></div>
        </div>
        <div class="driver-name">Johnnie Walker</div>
      </div>
      <div class="driver-time">21</div>
    </div>
    <div class="driver-item">
      <div class="driver-info">
        <div class="driver-image">
          <img src="assets/pics/nina.jpg" alt="Carolyne Smiths">
          <div class="status-circle red"></div>
        </div>
        <div class="driver-name">Carolyne Smiths</div>
      </div>
      <div class="driver-time"></div>
    </div>
  </div>
</div>
