.route-form-container {
    flex-direction: column;
    position: relative;
    margin: 8% auto;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 80%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn {
    display: inline-block;
    padding: 10px 34px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-primary {
    background-color: #ccc;
    color: white;
    width: 80%;
}

.btn-primary:disabled {
    background-color: #ccc;
}

.error {
    color: #B80C09;
    margin-top: 5px;
}

.link-text {
    color: white;
    cursor: pointer;
}

.error-message {
    color: #B80C09;
    text-align: center;
    margin-top: 10px;
}
