.ride-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.ride-left {
  flex: 0.8;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.ride-right {
  flex: 3.1;
  display: flex;
  margin: 10px 0;
  background-color: #f0f0f0;
  border-radius: 30px 0 0 30px;
}

.driver-part {
  padding: 0 10px 0 10px;
}

.map-section {
  flex: 4.2;
  border-radius: 30px 0 0 30px;
  position: relative;
}

.map-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.ride-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  padding: 10px;
  border-radius: 8px;
}
